body{
    background-color: rgb(200, 255, 212);
    color: black;   
    display: grid;
    grid-template-columns: auto 800px auto;
}

#main-Title{
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#gameWindow{
    width: 800px;
    height: 608px;
    background-color: #000;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}

#door1{
    background-color: #fff;
    width: 64px;
    height: 32px;
    left: 290px;
    top: 255px;
}

#mainCharacter{
    left: 200px;
    top: 555px;

}

.gameObject{
    position: absolute;
    transition: all .2s ease-in-out;

}

.foreGround{
    z-index: 1000;
}

.character{
    z-index: 100;
}

.background{
    z-index: 0;
}